h1 {
    color: crimson;
    font-size: 100px;
}

img:hover {
    background-color: gold;
}

.bacon {
    background-color: green;
}

.broccoli {
    background-color: crimson;
}

.circular {
    border-radius: 100%;
}

#heading {
    color: blue;
}